# Entorno virtual
venv/



# Audios subidos por usuarios
uploads/

# Modelos descargados por Whisper
~/.cache/whisper/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Frontend
frontend/node_modules/
frontend/dist/
static/react-dist/

# macOS
.DS_Store

# Archivos temporales de transcripción
*.wav
transcripciones_mejoradas.json
diccionario_transcripciones.json
